/* * {
    box-sizing: border-box;
  } */

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }

  .nav {
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }

  .nav ul {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
  }

  .nav ul li {
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin: 20px;
    background-color: aliceblue;
  }

.work-section {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }

.image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.first-example {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin:10px;
    width: 90%;
}

.first-example a img {
  width:90%
}

.work-section ul li {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: solid;
    border-width: 1px;
    text-align: center;
    margin: 10px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
}

.footer ul {
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
}
.footer ul li{
  padding-left: 50px;
  padding-right: 50px;
}


body {
  background-color: lavender;
}

@media screen and (min-width: 800px) {
  body {
    background-color: lightgreen;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: blanchedalmond;
  }
}
