/* * {
    box-sizing: border-box;
  } */

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }

  .nav {
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }

  .nav ul {
    display:flex;
    flex-direction:row;
  }

  .nav ul li {
    padding-left: 50px;
    padding-right: 50px;
  }

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin: 20px;
    background-color: aliceblue;
  }

.work-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding: .5%;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }

.first-example {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    margin:10px;
}

.other-examples {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 20%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    margin:30px;
}

.footer {
    display: flex; 
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
}
