* {
    box-sizing: border-box;
  }

body {
    display:flex;
    flex-direction: column;
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }

.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }


.about-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 200px;
    padding-right:200px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin: 20px;
    background-color: aliceblue;
  }

.work-section {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
  }

.first-example {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: 90px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    margin:20px;
}

.other-examples {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    margin:25px;
}

.footer {
    display: flex; 
    justify-content: center;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin:20px;
    background-color: aliceblue;
}
